@import "compass/typography/links/hover-link";

// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
    font-family: $sans;
}
aside.sidebar section {
    line-height: 1em;
    a {
        @include hover-link
    }
    h1 {
        text-transform: uppercase;
        font-weight: normal;
    }
    h2 {
        color: rgb(88,144,168);
        font-weight: normal;
        margin-top: 1em;
        margin-bottom: 0.25em;
    }
}

article {
  a {
      white-space: inherit;
      white-space: inherit;
      white-space: inherit;
      white-space: inherit;
      word-wrap: inherit;
  }
}
