@import "compass/typography/links/hover-link";

// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
    font-family: $sans;
}
article header {
    padding-top: 0;
}
h1 {
    font-size: 1.8em;
    color: rgb(88,144,168);
}

aside.sidebar section {
    line-height: 1em;
    a {
        @include hover-link
    }
    h1 {
        text-transform: uppercase;
        font-weight: normal;
    }
    h2 {
        color: rgb(88,144,168);
        font-weight: normal;
        margin-top: 1em;
        margin-bottom: 0.25em;
    }
}

article {
  a {
      white-space: inherit;
      white-space: inherit;
      white-space: inherit;
      white-space: inherit;
      word-wrap: inherit;
  }
}
$table-header-background: rgb(219, 230, 241);

table {
    @media only screen and (min-width: 480px) {
        margin-left: 10%;
        margin-right: 10%;
    }
}

th {
    border-top: solid thin darken($table-header-background, 20%);
    border-bottom: solid thin darken($table-header-background, 20%);
    background-color: $table-header-background;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
td {
    padding: .3em;
}

